<!-- <div class="comment">
	<%#= simple_format comment.body %>
	<em>
		<%= comment.user.name %>
		| <%#= pluralize comment.reputation_value_for(:votes).to_i, "vote" %>
		| <%#= link_to "up", vote_comment_path(comment, type: "up"), method: "post" %>
		| <%#= link_to "down", vote_comment_path(comment, type: "down"), method: "post" %>
	</em>
</div> -->