.venue-results {
	font-family: 'Montserrat', sans-serif;
	width: 700px;
	text-align: left;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 2em;
	background-color: rgba(0, 0, 0, .75);
	color: white;
	padding: 10px;

}

.blackwhite {
   background-color: hsla(170, 50%, 45%, 1);
}

.website {
	color: white;
}